<div id="content">
    <div id="content-header">
        <h1>Social media graphs</h1>
    </div>
    <div id="breadcrumb">
        <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="/dashboard" class="current">Social Media Graphs</a>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 center">
                <p class="lead">Choose a string from the drop-down box, date range and click Submit
                to generate social media graphs</p>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <form action="">
                    <label>Input phrase</label>
                    <div class="input-append">
                        <select id="string-list"></select>
                        <a class="btn" href="/account/initial_setup" role="button">Modify</a>
                    </div>
                    <label>Time range</label>
                    <input id="dp1" style="width:100px" type="text" data-date-format="yyyy-mm-dd" placeholder="Start date">
                    <input id="dp2" style="width:100px" type="text" data-date-format="yyyy-mm-dd" placeholder="End date">
                    <!--<label for="sparsity-input">Sparsity</label>-->
                    <!--<input style="width:150px" id="sparsity-input" type="text" value="0.95"/>-->
                    <div><button id="submit-to-server-btn" type="submit" class="btn btn-primary">Submit</button></div>
                </form>
                <p id="submit-status"></p>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12" id="alert-container">
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Overall</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a></div></div>
                    <div class="widget-content">
                        <div id="overall_div" class="overall">
                            <img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
                            <svg class="overall" id="overall_graph"></svg></div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i
                                class="icon-signal"></i></span><h5>Word cloud</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a></div></div>
                    <div class="widget-content">
                        <div class="wordcloud" id="wordcloud_div">
                            <img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
                            <svg class="wordcloud" id="wordcloud_graph"></svg></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Graphing</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a></div></div>
                <div class="widget-content">
                    <div id="igraph_div" class="igraph">
                        <img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
                        <div id="igraph_graph">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Sentiment</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a></div></div>
                <div class="widget-content">
                    <div id="sentiment_div" class="sentiment">
                        <img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
                        <svg class="sentiment" id="sentiment_graph"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
