{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.main.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.grey.css" class="skin-color" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/site.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/nv.d3.css"/>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block topbar_base %}
<div id="header">
    <h1><a href="./dashboard.html">Unicorn Admin</a></h1>
</div>
<div id="user-nav" class="navbar navbar-inverse">
        <div class="container">
            <div class="nav-collapse">
                {% include "_account_bar.html" %}
            </div>
        </div>
</div>
{% endblock %}

{% block body_base %}
{% include "_sidebar.html" %}
{% include "_graphs.html" %}
{% endblock %}

{% block script_base %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://activecitizen.sg/revolution/js/2.0/build/revo-deployR/revo-deployR_yuicombo_simple.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}pinax/js/theme.js"></script>
<script src="{{ STATIC_URL }}js/d3.v2.js"></script>
<script src="{{ STATIC_URL }}js/d3.layout.cloud.js"></script>
<script src="{{ STATIC_URL }}js/nv.d3.min.js"></script>
<script src="{{ STATIC_URL }}js/wordcloud.js"></script>
<script src="{{ STATIC_URL }}js/overall.js"></script>
<script src="{{ STATIC_URL }}js/sentiment.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
            SearchStrings = [];
            Inputs = {};

            {% include "_main_script.html" %}

            window.project = null;
    });
</script>
{% endblock %}
