{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap_tags %}
{% load account_tags %}

{% block extra_head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script
src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
	Array.prototype.remove = function(from, to) {
	  var rest = this.slice((to || from) + 1 || this.length);
	  this.length = from < 0 ? this.length + from : from;
	  return this.push.apply(this, rest);
	};
    SearchStringStatus = {};
    SearchStringStatus.action = "";
	SearchStringStatus.data = [];
	SearchStringStatus.selected = 0;
    $(document).ready(function() {
        var updateList = function() {
            var callback = function(data) {
                var strings = $.parseJSON(data.strings);
                //if (strings.length == 0) {
                //   strings.push('--nothing here yet--');
                //}
                var sel = $("#string-list").get(0);
                sel.options.length = 0;
				var $tab = $("#string-table");
                for (var i = 0; i< strings.length; ++i) {
                    sel.options.add(new Option(strings[i], strings[i]));
					SearchStringStatus.data.push(strings[i]);
					$tab.append('<tr id="row-'+i+'"><td>' + strings[i]+ '</td></td><td><a href="#" id="edit-'+i+'">Edit</a>&nbsp;&nbsp;<a href="#" id="delete-'+i+'">Delete</a></td></tr>');
					(function(j) {
						$('#delete-'+j).click(function(){
							console.log("removing row " + j);
							$('#row-'+j).remove();
							SearchStringStatus.data.remove(j);
						});
					})(i);
					(function(j) {
						$('#edit-'+j).click(function(){
							$("#string-modal-header").text("Edit search string");
							$("#myModal").modal({ keyboard: false});
							$("#string-input").focus();
							$("#string-input").val(SearchStringStatus.data[j]);
							SearchStringStatus.action = "edit";
							SearchStringStatus.selected = j;
						});
					})(i);
                }
            };
            Dajaxice.account.get_search_strings(callback);
        };

        var saveList = function(callback) {
            var options = [];
            var sel = $("#string-list").get(0);
            for (var i = 0; i< sel.options.length; ++i) {
                options.push(sel.options[i].value);
            }
            Dajaxice.account.set_search_strings(callback, {'options': SearchStringStatus.data});
        };
        updateList();

        $("#add-string-anchor").click(function(){
			$("#string-modal-header").text("Add search string");
            $("#myModal").modal({ keyboard: false});
            $("#string-input").val("").focus();
            SearchStringStatus.action = "add";
        });

        $("#add-string-btn").click(function(){
            $("#myModal").modal({ keyboard: false});
            $("#string-input").val("").focus();
            SearchStringStatus.action = "add";
        });

        $("#edit-string-btn").click(function(){
            $("#myModal").modal({ keyboard: false});
            var $sel = $("#string-list");
            $("#string-input").val($sel.find(":selected").val()).focus();
            SearchStringStatus.action = "edit";
        });

        $("#delete-string-btn").click(function(){
            var $sel = $("#string-list");
            $sel.find(":selected").remove();
            if($sel.get(0).options.length == 0) {
                $sel.get(0).options.add(new Option("--nothing here yet--",
                                                   "--nothing here yet--"));
            }
        });

        $("#save-string-btn").click(function(){
            $("#myModal").modal("hide");
            var $sel = $("#string-list");
            if (SearchStringStatus.action == "add") {
                $sel.find("option[value='--nothing here yet--']").remove();
                $sel.get(0).options.add(new Option($("#string-input").val()));
                $sel.get(0).selectedIndex = $sel.get(0).options.length-1;
				var str = $("#string-input").val();
				SearchStringStatus.data.push(str);
				var i = SearchStringStatus.data.length - 1;
				$("#string-table").append('<tr id="row-'+i+'"><td>' + str + '</td></td><td><a href="#" id="edit-'+i+'">Edit</a>&nbsp;&nbsp;<a href="#" id="delete-'+i+'">Delete</a></td></tr>');
				(function(j) {
					$('#delete-'+j).click(function(){
						console.log("removing row " + j);
						$('#row-'+j).remove();
						SearchStringStatus.data.remove(j);
					});
				})(i);
				(function(j) {
					$('#edit-'+j).click(function(){
						$("#string-modal-header").text("Edit search string");
						$("#myModal").modal({ keyboard: false});
						$("#string-input").focus();
						$("#string-input").val(SearchStringStatus.data[j]);
						SearchStringStatus.action = "edit";
						SearchStringStatus.selected = j;
					});
				})(i);
            }
            if (SearchStringStatus.action == "edit") {
                $sel.find(":selected").val($("#string-input").val());
                $sel.find(":selected").text($("#string-input").val());
				var i = SearchStringStatus.selected;
				SearchStringStatus.data[i] = $("#string-input").val();
				console.log($("#string-table tr:eq("+(i+1).toString()+") td:eq(0)").text(SearchStringStatus.data[i]));
            }
        });

        $("#save-to-server-btn").click(function(event){
            event.preventDefault();
            var callback = function(data) {
                $("body>.container").prepend('<div class="alert fade in  alert-success"> <a data-dismiss="alert" href="#" class="close">×</a> Searching string configuration updated. Go to <a href="/graphs">graph page</a> to continue. </div>');
            }
            saveList(callback);
        });
    });
    </script>
{% endblock %}

{% block head_title %}Search strings{% endblock %}

{% block body %}
<!--<form method="POST" action="{% url "account_settings" %}">-->
    <!--<legend>Account</legend>-->
    <!--{% csrf_token %}-->
    <!--{{ form|as_bootstrap }}-->
    <!--<div class="form-actions">-->
        <!--<button class="btn btn-primary" type="submit">Save</button>-->
        <!--</div>-->
    <!--</form>-->
<div class="row">
    <div class="span6">
        <form>
            <legend>Search strings configuration</legend>
            <div class="input-append">
                <table id="string-table" class="table">
                    <tr>
                        <th>Keyword</th>
                        <th><a href="#" id="add-string-anchor">Add</a></th>
                    </tr>
                </table>

                <label class="hide">String list</label>
                <select id="string-list" class="hide"></select>
                <a id="add-string-btn" class="btn hide" href="#" role="button">Add</a>
                <a id="edit-string-btn" class="btn hide" href="#">Edit</a>
                <a id="delete-string-btn" class="btn hide" href="#">Delete</a>
            </div>
            <div class="form-actions"><button id="save-to-server-btn" class="btn btn-primary">Save</button></div>
        </form>

        <div><a href="/graphs">Back to graphs page</a></div>
    </div> <!--span-->
</div> <!--row-->
<div id="myModal" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="string-modal-header">Add search string</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="">
            <div class="control-group">
                <label class="control-label" for="string-input">Search string</label>
                <div class="controls">
                    <input id="string-input" type="text" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="discard-string-btn" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <a href="#" id="save-string-btn" class="btn btn-primary">Save</a>
    </div>
</div>
{% endblock %}
